@page "/"

<div class="container-fliud">
    <div style="padding-top: 20px; padding-left:10px; ">
        <img src="/images/Torno Logo.jpg" alt="Tornowize Logo" style="width:250px; height:100px;">
    </div>
    <div style="padding-top: 20px; height:70vh">
        <h1 style="color: #C65F30; text-align:center; padding-top: 20px;">Tornowize API</h1>
    </div>
    

    <footer style="display: flex; gap:10px; align-items: center; height: 63px; background-color:#e2dddd; padding-left:10px;">
        <a href="http://tornowize.co.za" target="_blank" rel="noopener noreferrer" style="color: rgba(82, 82, 82, 0.425); text-decoration:none;">home</a>
        <a href="http://tornowize.co.za/about.html" target="_blank" rel="noopener noreferrer" style="color: rgba(82, 82, 82, 0.425); text-decoration:none;">about</a>
    </footer>

</div>


    


