@page "/"
<body>
    <div>
        <img src="./wwwroot/icon-192.png" alt="Test">
    </div>
    <div>
        <h1 style="color: orange; text-align:center;">Welcome to the Tornowize API</h1>
    
    </div>
    
</body>
